@font-face {
    font-family: logoFont;
    src: url(fonts/Norse-Bold.otf);
}
@font-face {
    font-family: RegularTextRoboto;
    src: url(fonts/Roboto/Roboto-Medium.ttf);
}

*{
    box-sizing: border-box;
    font-family: RegularTextRoboto;
    font-size: 16px;
}

body{
    height: 100vh;
    margin: 0;
    background-color: #F9FAFB;
}

.standard > *,
.standard,
.standard > * > *{
    font-size: 1.55rem;
}
.topText span{
    display: block;
}

#wrapper{
    display: flex;
}
.heroImg{
    flex: 1;
    max-width: 600px;
}
.heroImg > img{
    max-width: 600px;
    min-height: 1000px;
    object-fit: cover;
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    min-width: 600px;
    gap: 15px;
    background-color: rgba(128, 128, 128, 0.5);
    
}
#logo > img{
    max-width: 75px;
}
#logo > p{
    color: aliceblue;
    font-family: logoFont;
    font-size: 3.75rem;
    margin: 30px 0;
}

.signupSection{
    flex: 1;
    border: 1px solid black;
    height: 1000px;
}

.topText{
    padding-top: 150px;
    width: 720px;
    padding-left: 50px;
    margin-bottom: 70px;
}

.SingupField{
    -webkit-box-shadow: -1px 7px 15px 0px rgba(0,0,0,0.5); 
    box-shadow: -1px 7px 15px 0px rgba(0,0,0,0.5);
    background-color: white;
    padding: 15px 0 50px 50px;
}
.SingupField p{
    margin-top: 0;
}

label{
    display: block;
    text-transform: uppercase;
    color: #232D3B;
    font-size: 0.85rem;
}
input{
    border-radius: 3px;
    width: 210px;
    height: 25px;
    border: none;
    border: 1px solid #E5E7EB;
}

#inputFields{
    display: flex;
    flex-basis: 200px;
    max-width: 500px;
    flex-wrap: wrap;
    column-gap: 70px;
    row-gap: 20px;
}