@font-face {
    font-family: logoFont;
    src: url(fonts/Norse-Bold.otf);
}
@font-face {
    font-family: RegularTextRoboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}
*{
    box-sizing: border-box;
    font-family: RegularTextRoboto;
}

body{
    height: 100vh;
    margin: 0;
}

#wrapper{
    display: flex;
}
.heroImg{
    flex: 1;
    max-width: 500px;
}
.heroImg > img{
    max-width: 500px;
    min-height: 1000px;
    object-fit: cover;
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    min-width: 500px;
    gap: 15px;
    background-color: rgba(128, 128, 128, 0.5);
    
}
#logo > img{
    max-width: 75px;
}
#logo > p{
    color: aliceblue;
    font-family: logoFont;
    font-size: 60px;
    margin: 30px 0;
}

.signupSection{
    flex: 3;
    border: 1px solid black;
    height: 1000px;
}


