@font-face {
    font-family: logoFont;
    src: url(fonts/Norse-Bold.otf);
}
@font-face {
    font-family: RegularTextRoboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}
*{
    box-sizing: border-box;
    font-family: RegularTextRoboto;
}

body{
    height: 100vh;
    margin: 0;
}

#wrapper{
    display: flex;
}
.heroImg{
    flex: 1;
    max-width: 400px;
    border: 1px solid black;
}
.heroImg > img{
    max-width: 400px;
    min-height: 1000px;
    object-fit: cover;
}
#logo{
    position: fixed;
    width: 400px;
    height: 100px;
    background-color: black;
    
}

.signupSection{
    flex: 3;
    border: 1px solid black;
    height: 1000px;
}


